.div1 {
  position: fixed;
  left: 85%;
  top: 10%;
  width: 95px;
  height: 20px;
  z-index: 100;
}

.div1 button {
  width: 100%;
  height: auto;
  border: 1px solid black;
  transition-duration: 0.2s;
  opacity: 0.2;
}

.div1 select {
  width: 100%;
  opacity: 0.2;
  transition-duration: 0.2s;
}

.div1 select:hover {
  opacity: 1;
}

.div1 button:hover {
  background: #ffff00;
  color: black;
  opacity: 1;
}

.div1 button:hover {
  background: #4f9144;
  color: white;
  opacity: 1;
}

.div1 input {
  width: 100%;
  height: auto;
  opacity: 0.2;
  transition-duration: 0.2s;
}

.div1 input:hover {
  opacity: 1;
}
